@import "../app.scss";

body {
  background-color: #fff;

  @include mobile {
    width: 100%;
  }

  .heading {
    text-align: center;
    line-height: 1.5;
    height: 150px;
    width: 70%;
    margin: auto;

    @include mobile {
      width: 100%;
      margin-top: 15%;
    }

    h1 {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: #5cbacf;
      font-size: 40px;

      @include mobile {
        font-size: 30px;
      }
    }

    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
      color: #4e4d4d;
      text-align: center;
      font-size: 22px;
      line-height: 1.5;
      margin: auto;

      @include tablet {
        width: 100%;
        font-size: 22px;
      }

      @include mobile {
        font-size: 18px;
        padding: 4%;
      }
    }
  }

  .experience {
    background-color: #f0f0f0;
    margin: auto;
    width: 100%;
    margin-top: 5%;

    @include tablet {
      width: 100%;
      margin-top: 10%;
    }

    @include mobile {
      max-width: 500px;
      margin: auto;
      margin-top: 20%;
    }
  }
  .timeline-element {
    &-title {
      color: #000;
    }

    &-company {
      color: #5da1b1;
    }
  }
}
