@import "../app.scss";

body {
  background-color: #fff;

  @include mobile {
    width: 100%;
  }

  .heading {
    text-align: center;
    line-height: 1.5;
    height: 150px;
    width: 70%;
    margin: auto;

    @include mobile {
      width: 100%;
      margin-top: 15%;
    }

    h1 {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: #5cbacf;
      font-size: 40px;

      @include mobile {
        font-size: 30px;
      }
    }

    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
      color: #4e4d4d;
      text-align: center;
      font-size: 22px;
      line-height: 1.5;
      margin: auto;

      @include tablet {
        width: 100%;
        font-size: 22px;
      }

      @include mobile {
        font-size: 18px;
        padding: 4%;
      }
    }
  }

  .experience {
    background-color: #f0f0f0;
    margin: auto;
    width: 100%;
    margin-top: 5%;

    @include tablet {
      width: 100%;
      margin-top: 10%;
    }

    @include mobile {
      max-width: 500px;
      margin: auto;
      margin-top: 20%;
    }
  }
  .timeline-element {
    &-title {
      color: #000;
    }

    &-company {
      color: #5da1b1;
    }
  }

  .cv__link {
    background-color: white;
    padding: 20px 0 20px 30px;
    display: flex;
    margin: auto;
    color: #485c64;
    text-decoration: none;
    width: 150px;
    font-weight: 700;
    margin-top: 10%;
    box-shadow: 1px 3px 1px rgba(199, 203, 203, 0.748);
    border-radius: 9999px;
    outline: none;
    cursor: pointer;

    transition: transform 0.7s;
    &:hover {
      transform: scale(1.1);
    }
    .cv__download {
      margin-left: 10px;
    }
  }
}
