@import "../app.scss";

.footer {
  height: 20px;
  padding: 0 20px 40px 20px;
  color: #231568;
  font-weight: 500;
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  bottom: 0;

  @include mobile {
    margin-top: 12%;
    font-size: 15px;
  }

  .social {
    display: flex;
    gap: 30px;
    padding-top: 0.9%;
    font-size: 20px;

    @include mobile {
      margin: 1%;
      font-size: 15px;
      margin-top: 3%;
    }

    a {
      color: #0c3025;
    }
  }
}
